footer{
    background-color: #f8f8f8;
    color: black;
    text-align: center;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p{
    font-size: 1.5rem;
    font-weight: 500;
}